@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@model IEnumerable<TP_test.Models.Produit>

@{
    ViewData["Title"] = "Index";
}

<h1>Catalogue</h1>

<p>
    @if ((await AuthorizationService.AuthorizeAsync(User, "Administration")).Succeeded)
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taille)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantite)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.ImageID != null)
                    {
                        <img src="@string.Format("data:{1};base64,{0}", Convert.ToBase64String(item.Image.ImageData), item.Image.ContentType)" width="75" height="75" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Taille)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantite)
                </td>
                <td>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "Administration")).Succeeded)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <span>|</span>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                    else if (User.Identity!.IsAuthenticated)
                    {
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

